doctype
html(lang='en')
  head
    title FoodPoints+
    meta(charset='utf-8')
    meta(name="viewport", content="initial-scale=1")
    
    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='//cdn.rawgit.com/moment/moment/develop/min/moment.min.js')
    script(src='//cdn.rawgit.com/mbostock/d3/master/d3.min.js')
    script(src='//cdn.rawgit.com/masayuki0812/c3/master/c3.js') 
    script(src='//cdn.rawgit.com/kamisama/cal-heatmap/master/cal-heatmap.js')
    script(src='//cdn.rawgit.com/almende/vis/master/dist/vis.js')
<<<<<<< HEAD
    script(src='//code.angularjs.org/snapshot/angular.min.js')
=======
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.js')
>>>>>>> 61150192d07c16a34637bf1f1e214e4cd4998259
    script(src='ga.js')
    script(src='utility.js')
    script(src='chart.js')

    link(rel="stylesheet", href='//maxcdn.bootstrapcdn.com/bootswatch/latest/superhero/bootstrap.min.css')
    link(rel="stylesheet", href='//cdn.rawgit.com/kamisama/cal-heatmap/master/cal-heatmap.css')
    link(rel='stylesheet', href='//cdn.rawgit.com/masayuki0812/c3/master/c3.css')
    link(rel='stylesheet', href='//cdn.rawgit.com/almende/vis/master/dist/vis.css')
    link(rel='stylesheet', href='foodpoints.css')
    
    script(src='//cdn.rawgit.com/DataTables/DataTables/master/media/js/jquery.dataTables.min.js')
    script(src='//cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.js')
    link(rel='stylesheet', href='//cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.css')

    script.
      var user =!{JSON.stringify(user)}
      console.log(user)
  body
    .container
      h1 FoodPoints+
      div
        if (user)
          a.btn.btn-default(href="/logout") Sign Out
          a.btn.btn-primary(href=auth_link) Link DukeCard
        else
          a.btn.btn-default(href="/auth/google") Sign In with Google
      hr
      .row
        .col-md-12
          if user
            img.pic(src=user.picture, alt=user.name)
            h3 Welcome back, #{user.given_name}!
            if (user.refresh_token)
              p Congratulations!  FoodPoints+ is now tracking your balances.
              p Your DukeCard link expires: 
                span.format=user.refresh_token_expire
            else
              p Link your DukeCard to start tracking your balances.
          else
            p Sign in to use advanced features such as graphing and budgets.
      .row
        .col-md-4
          h3 Countdown
          div Starting Food Points:
          input.form-control#plan(type="text")
          hr
          div Target/Current:
          div.progress.progress-countdown
            div#progbar.progress-bar.progress-bar-default.progress-bar-striped.active
              div.lead#result
          div.progress.progress-countdown
            div#progbar2.progress-bar.progress-bar-success.progress-bar-striped.active
              div.lead#balance=user && user.balances[0]? user.balances[0].balance : "N/A"
        if user 
          .col-md-4
            h3 Transactions
            table.table#transactions
              thead
                tr
                  th Date
                  th Amount
               each t in user.trans
                 tr
                   td.format=t.date
                   td=t.amount.toFixed(2)
          .col-md-4(ng-app="foodpoints" ng-controller="BudgetController")
            h3 Budgets
            h4 Send me email when I spend more than:
            form.form-inline(name="budgetform", ng-submit="save(budget)")
              .row
                .col-xs-10
                  input.form-control(required, type='number', ng-model="budget.amount")
                  select.form-control(required, ng-model="budget.period", ng-options="p for p in periods")
                .col-xs-2
                  button.btn.btn-success
                    i.fa.fa-plus
            h4 My Budgets
            .row.lead(ng-repeat="b in budgets")
              .col-xs-10
                div.progress.progress-countdown
                  div#progbar3(class="{{b.class}}", style="width:{{b.percent}}%")
                    div#usage.lead {{b.display}}
              .col-xs-2
                button.btn.btn-danger(ng-click="delete(b)")
                  i.fa.fa-remove
      .row
        if user
          .col-md-4
            h3 Chart
            div#chart
          .col-md-4
            h3 Breakdown
            div#pie
          .col-md-4
            h3 Days
            div#days
            h3 Hours
            div#hours
      .row
        .col-md-12
          h3 What's Open?
          div#timeline
      hr
      
