doctype
html(lang='en' data-ng-app="foodpoints")
  head
    title FoodPoints+
    meta(charset='utf-8')
    meta(name="viewport", content="initial-scale=1")
    
    link(rel="stylesheet", href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/lumen/bootstrap.min.css')
    link(rel="stylesheet", href='//cdn.jsdelivr.net/cal-heatmap/latest/cal-heatmap.css')
    link(rel='stylesheet', href='//cdn.rawgit.com/masayuki0812/c3/0.4.9/c3.min.css')
    link(rel='stylesheet', href='foodpoints.css')
    
    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='//code.angularjs.org/snapshot/angular.min.js')
    script(src='//cdn.jsdelivr.net/momentjs/latest/moment.min.js')
    script(src='//cdn.jsdelivr.net/d3js/latest/d3.min.js')    
    script(src='//cdn.jsdelivr.net/cal-heatmap/latest/cal-heatmap.js')
    script(src='//cdn.rawgit.com/masayuki0812/c3/0.4.9/c3.min.js') 
    script(src='ga.js')
    script(src='cookies.js')
    script(src='foodpoints.js')
    script(src='myNgApp/myNgApp.js')
    script(src='myNgApp/UserController.js')
    script(src='myNgApp/MealPlanController.js')

  body.container-fluid(ng-controller="UserController")
  
    // display alert if user is new
    if (user && user.new)
      div.alert.alert-info(role="alert")
        p This seems like your first time using Foodpoints+. Please link your DukeCard. We will track your balance after your next purchase.
        
    // modal for extra info
    if (user)
      div#infoModal.modal.fade(role="dialog" tabindex="-1" aria-labelledby="#infoModalLabel" aria-hidden="true")
        div.modal-dialog.modal-lg(role="document")
          div.modal-content
            div.modal-body
              .row
                .col-md-1
                  img(height=50, src=user.picture, alt=user.name)
                .col-md-4 
                  p Welcome back #{user.given_name}!
                  p FoodPoints+ is now tracking your balances.
              .row
                .col-md-8
                  if (user.refresh_token)
                    p DukeCard link expires 
                      span.format=user.refresh_token_expire
                    div
                      p To get started, choose your starting food plan from the drop down menu.
                  form
                    div.checkbox
                      label
                        input(type="checkbox" ng-model="checked" aria-label="Toggle ngHide")
                        p Reveal advanced settings (only account deletion for now)
                        
                  a.btn.btn-danger(href="/api/delete" ng-show="checked") Irreversibly(!) delete my transactions
                  a.btn.btn-default(href="/logout") Sign Out
    
    // top navbar
    div
      if (!user)
        div.alert.alert-warning.alert-dismissible Sign in and link your Dukecard to use Foodpoints+. Note for new users: Many features start working only after the second day of use. 
          button(type="button" class="close" data-dismiss="alert" aria-label="close")
            span(aria-hidden="true") &times;
                   
      if (user)
        button.btn.btn-primary.pull-right(type = "button" data-toggle="modal" data-target="#infoModal") #{user.given_name} 
          span.caret
        if (!user.refresh_token)
          p Link your DukeCard to start tracking your balances.
          a.btn.btn-primary(href=auth_link) Link DukeCard
      else
        a.btn.btn-default.pull-right(href="/auth/google") Sign In with Google
      h1 FoodPoints+

    hr
      
    // start of various widgets
    .row
      .col-md-4
      
        div(ng-controller="MealPlanController" ng-init="init()")
          div.dropdown.pull-right
            button.btn.btn-default.dropdown-toggle#dropdownMenu1(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | {{selectedItemName}}
              span.caret
            ul.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownMenu1")
              li(ng-repeat="item in mealPlans") 
                a(ng-click="dropboxitemselected(item)") {{item.name}}
          h3 Will I starve?

        div I should have:
        div.progress.progress-countdown
          div#progbar.progress-bar.progress-bar-default.progress-bar-striped.active
            div.lead#result(ngShouldHave) {{shouldHave}} 
        if user
          div I actually have:
          div.progress.progress-countdown
            div#progbar2.progress-bar.progress-bar-success.progress-bar-striped.active
              div.lead#balance(ngActuallyHave) {{balance}} 
              // {{balance}} is from UserController
          br
          div(data-ng-controller="AverageSpendingController")
            div.panel.panel-default
              div.panel-heading Spending Today
              div.panel-body
                table.table
                  tr
                    td The average student spent:
                    td {{average}}
                  tr
                    td I spent:
                    td {{dailyTotal}} 
            div.panel.panel-default
              div.panel-heading Spending This Week
              div.panel-body
                table.table
                  tr
                    td The average student spent:
                    td {{wkAvg}}
                  tr
                    td I spent:
                    td {{weeklyTotal}}      
            
      .col-md-4
        div.panel.panel-default
          div.panel-heading 
            h3.panel-title Projections
          div.panel-body
            table#projections.table
        
      .col-md-4
        if (user)
          div.panel.panel-default
            div.panel-heading 
              span.badge.pull-right #{user.trans.length}
              h3.panel-title The times I bought grub
            div.panel-body
              table.table#transactions
                thead
                  tr
                    th Date
                    th Amount
                 each t in user.trans
                   tr
                     td.format=t.date
                     td=t.amount.toFixed(2)
    //- div.animate-show(ng-show="checked")
      //- if user
      //-   .row
      //-     .col-md-4 
      //-       h3 Chart
      //-       div#chart
      //-     .col-md-4(data-ng-controller="BudgetController")
      //-       h3 Budgets
      //-       h4 Send me email when I spend more than:
      //-       form.form-inline(name="budgetform", ng-submit="save(budget)")
      //-         .row
      //-           .col-xs-10
      //-             input.form-control(required, type='number', ng-model="budget.amount")
      //-             select.form-control(required, ng-model="budget.period", ng-options="p for p in periods")
      //-           .col-xs-2
      //-             button.btn.btn-success
      //-               i.glyphicon.glyphicon-plus
      //-       h4 My Budgets
      //-       .row.lead(ng-repeat="b in budgets")
      //-         .col-xs-10
      //-           div.progress.progress-countdown
      //-             div(class="{{b.class}}", style="width:{{b.percent}}%")
      //-               div.lead {{b.display}}
      //-             div.verticalLine(style="left:{{b.elapsed}}%")
      //-         .col-xs-2
      //-           button.btn.btn-danger(ng-click="delete(b)")
      //-             i.glyphicon.glyphicon-remove
      //-       
      //-   .row
      //-     .col-md-12
      //-       h3 Days
      //-       div#days
      //-       h3 Hours
      //-       div#hours
    hr
    footer
      div Developed by Howard Chung, Will Shelburne, Ian Tay, Adi Raghunathan
      a(href="http://github.com/chronologos/forkpoints") This application is open source.
    hr
